<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner mt-5">
        <div class="carousel-item active">
            <p class="p-5">
                If you are a new user kindly register and then login with the same credentials
                once you sign in, we show your current plan and its details, click the "Continue with
                this plan" to recharge for the same plan once again which add the same plan to your pending list.
            </p>
        </div>
        <div class="carousel-item">
            <p>
                you can also explore the various other plan provided by your service provider by clicking on the
                plans button or you can also have a look at your previous plans history.
            </p>
        </div>
        <div class="carousel-item">
            <p>
                click on the button to recharge, it redirects you to our safely built payments gateway that lets you
                pay using your upi or debit/credit card.

                you may also logout once in a while if you wish.
            </p>
        </div>
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon " aria-hidden="false"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn-dark" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>